.resultados{
    display: flex;
    justify-content: center;
}

.resultados button{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
}
